<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to BookHub, <%= @user.email %></h1>
    <p>
      You have created a wishlist!
    </p>
  </body>
</html>