<%= render 'layouts/navigation' %>
<br><br>
<div class ="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <br>
      <br>
      <h2>
        Contact Us: -
      </h2>
      <br>
      <br>
    </div>
    <div class="panel-body">
      <center>
      <h4>
        The Programmers<br><br>
        Main Office Address: -<br>
          1115 9835 <br>
          King George Blvd.<br>
          Surrey, B.C.<br><br>
      Contact No.: - +1 (604) 537-7944 (7 a.m. - 5 p.m.)<br><br>
      Email: - bookhubsfu@gmail.com.<br>
        <br>
        <br>
        Follow us on: -<br>
              <a href="https://www.facebook.com/Bookhubsfu-1873870552632449/?modal=admin_todo_tour" class="btn btn1 btn-default btn-sm"><div class=img5></div></a>
              <a href="https://www.facebook.com/Bookhubsfu-1873870552632449/?modal=admin_todo_tour" class="btn btn1 btn-default btn-sm"><div class=img6></div></a>
       
      </center>
      </h4>
      
    </div>
    
  </div>
</div>

<%= render 'layouts/footer' %>