<%= render 'layouts/navigation' %>
<br>
<div class="container">
  <div class="jumbotron">
    <h1>Contact Us</h1>
  </div>
<br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>
        Contact Details: -
      </h3>
    </div>
    <div class="panel-body">
      <h4>
        The Programmers<br><br>
        Main Office Address: -<br>
          1115 9835 <br>
          King George Blvd.<br>
          Surrey, B.C.<br><br>
      Contact No.: - +1 (604) 537-7944 (7 a.m. - 5 p.m.)<br><br>
      Email: - bookhub276@gmail.com
      
      </h4>
      
    </div>
    
  </div>
</div>

<%= render 'layouts/footer' %>