@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
#body{
	margin : 0px;
	padding-right:0px;
	text-align: center;
	
	color:white;
	width:100%;
	height:100%;
}
.body{
	background: asset-url('homepage.jpg');
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}
.navbar1 {
	position: relative;
	min-height: 20px;
	border:1px solid transparent;
	margin-bottom: 0px;
}
#back{
	background: url("homepage.jpg");
	background-opacity: 0.1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#match{
	margin-left: 500px;
	margin-right: 500px;
	border-bottom: solid 1px white;
}
#match1{
	margin-left: 250px;
	margin-right: 250px;
	border-bottom: solid 1px grey;
}
h1{
	font-size: 75px;
}
#background{
	padding-top: 100px;
	padding-bottom:100px;
}
.mylogin{
	padding-top:300px;

}
.mylogin1{
	padding-top:100px;
	margin-left:250px;
	margin-right:250px;
}
.mysignup{
	padding-top:100px;
	padding-bottom:200px;
}
.mysignup1{
	padding-top:20px;

	margin-left:250px;
	margin-right:250px;
}

footer{
	position: fixed;
    height: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
  //margin-top: 140px;
  //padding-top: 5px;
  border-top: 1px solid #eaeaea;
	margin-left : 5px;
	margin-right : 10px;
}
footer a:hover {
  color: #222;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}
.table{
	border: 1px black solid;
	height : 30px;
	width : 200px;
	text-align: center;
}
.image{
	height:150px;
	width:150px;
}
.image1{
	height:300px;
	width:300px;
}	
.image2{
	float:left;
	margin-left:200px;
	height:250px;
	width:200px;
}
.image3{
	float:left;
	margin-left:200px;
	height:150px;
	width:125px;
}
.border1{
	border-bottom: 1px grey solid;
}
.search{
	width:600px;
}
.img1{
	background: asset-url('gmail.png');
	height : 32px;
	width: 32px;
}
.img2{
	background: asset-url('yahoo.png');
	height : 32px;
	width: 32px;
}
.img3{
	background: asset-url('outlook.png');
	height : 32px;
	width: 32px;
}
.img4{
	background: asset-url('sfu.jpg');
	height : 32px;
	width: 32px;
}
.btn {
	border: none
}